

 
 .bodyindex {
    font-family: Arial, sans-serif;
    margin: 0;
   
}

 /*    estilos del navbar*/
 .container { 
    max-width: 100%;
    overflow: hidden;
    margin: 0 auto;
    padding: 2%;
    display: flex;
    justify-content: space-between;
    background-color: #4e88c7a2;
}

.logo img {
    width: 100px; 
    height: 100px; 
}

.menu-toggle {
    display: none;
    font-size: 30px;
    cursor: pointer;
}

.navbarr ul {
    list-style: none;
    padding: 0;
    display: flex;
}

.navbarr li {
    margin: 0 7px;
}

.navbarr a {
    text-transform: uppercase;
    text-decoration: none;
    color: #333;
    font-weight: bold;
}

.navbarr a:hover {
    color: #ff5733; 


}
.checkbox-input {
    display: none;
}



/* finzaliza estilo navbar*/






/* estilos footer*/

footer {
    background-color: #4e88c7a2;
    padding: 20px;
    text-align: center;
}

.redes-sociales {
    list-style: none;
    padding: 0;
}

.redes-sociales li {
    display: inline-block;
    margin: 0 10px; /* Espacio entre los íconos de redes sociales */
}

.redes-sociales a {
    text-transform: uppercase;
    font-weight: bold;
    text-decoration: none;
    color: #333; /* Color del texto de las redes sociales */
}


/*finaliza estilo footer*/





  .contenedor-fondo-index  {

    background-image: url(../img/fondo-inicio.jpg); 
    max-width: 100%;
    overflow: hidden; /* El div ocupará todo el ancho disponible */
    height: 100%px; /* altura de la ventana */
    background-color: #333;
    background-size: cover; /* La imagen se ajustará al tamaño del contenedor sin deformarla */
    background-position: center; /* La imagen se centrará en el contenedor */
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.contenedor-text-index{
    background-color: rgba(24, 54, 54, 0.438);
    width: 80% ;
    height:80% ;
    color: rgb(255, 255, 255);
}

.p-index{
        width: 100%;
        height: 100%;
        text-align: center;
        font-size: 30px;
        line-height: 1.5;
        
    }
    .p-index{
        font-family: 'Montserrat Alternates', sans-serif;
    }
    












/* Aca comienza la parte de contactos*/


.titulocont{
    text-align: center;
    font-size: 30px;
}
.titulocont span{
    color: #ff5733;
}
.containerWrap{
    background-image: url(../img/fondo\ pizzas.jpg);     
}
.containerWrap > *{
    padding: 30px ;
}
.containerWrap{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
 

/* aqui damos color a las 2 secciones de formulario*/
.contactoform {
    background-color: rgba(3, 25, 37, 0.932);
    color: #fff;
}   
.contInfor{
    background-color: #000000dc;
    font-family:Arial, sans-serif;
    color: #fff;
    padding: 10 20px;
    text-align: center;
   
}
/*--------------------------------------*/


.contactoform form{
    display: grid;  
    grid-template-columns: 1/3; 

} 

.contactoform form button {
    grid-column: span 2
}

/* En esta seccion damos forma los items del formulario*/
.contactoform form button, /* seleccionamos dentro de la clase contactoform al formulario ya todos los elementos que lo pose*/
.contactoform form input,
.contactoform form textarea {
width: 85%;
padding: 18px ;
background: none;
border:none;
border-bottom: 1px solid    #ff5733;
outline: none;      

}
.contactoform form button{
    background-color: blue;
    border: none;
    border-radius: 10px;

}
.contInfor h4, .contInfor ul, .contInfor p {
    text-align: center;
    margin: 0 0 1rem 0;
    list-style: none;
}





















/*aqui comienza todos los estilos de mi seccion de menu*/

.h1-menu{
    text-align: center;
    text-shadow: 0px 3px 10px rgba(92, 79, 204, 0.877);

}
.contenedor {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.contenedor{

    background-image: url(../img/fondo.jpg); /* Ruta de tu imagen de fondo */
    background-size: cover; /* Ajusta la imagen al tamaño del viewport */
    background-repeat: no-repeat; /* Evita la repetición de la imagen */
    background-attachment: fixed; /* Fija la imagen en su posición */
    color: #fff; /* Color del texto */
   
}


.contenedor p{
    font-size: 18px; /* Tamaño del texto */
    color: white; /* Color del texto */
    text-shadow: 2px 2px 4px red; /* Sombra del texto en rojo */
    

}
.item {
    display: flex;
    justify-content: center; /* Centra horizontalmente */
    align-items: flex-start; /* Alinea en la parte superior */
    flex-direction: column; /* Apila los elementos uno encima del otro */
    text-align: center; /* Centra el texto */
}
.item img {
    max-width: 100%; 
    height: 90px; 
    width: 90px; 
    margin-bottom: 10px; 
}


.contenedor .item{
    text-align: center;
    align-items: center;
  
}
.contenedor .item ul{
    list-style: none;
    background-color: #925b5b77;
    margin: 0;
    display: inline-block;
    
}
.contenedor button{

    padding: 10px 20px;
    font-size: 16px;
    background-color: #007bff4d;
    color: #fff;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
}

.contenedor button :hover {
    background-color: #0056b3;
}

.contenedor button:active {
    transform: scale(0.95);
}








 /*de aqui comienza la seccion de reservas */
 
 .reserva{ background-image: url(../img/pizza-fondo-reserva.jpg);
    background-size: cover; /* Ajusta la imagen al tamaño del viewport */
    background-repeat: no-repeat; /* Evita la repetición de la imagen */
    background-attachment: fixed; /* Fija la imagen en su posición */
    height: 100%;
  

 }

.reserva form label
{
 display: inline;
}

 .reserva form button,
.reserva form input,
.reserva form label
{
    background-color: rgba(24, 54, 54, 0.788);
    border: none;
    outline: none;
}
.sub-reserva{
    background-color: rgba(24, 54, 54, 0.788);
}


 .reserva, .menu {

    padding: 70px;
    margin: 5px;
    border-radius: 10px;
}

label, input {
    display: block;
    margin-bottom: 10px;
    
}

  input {
    padding: 8px;
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type="submit"] {
    border: none;
    cursor: pointer;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin: 10px 0;
}



/*aqui comienza la seccion de opinion y comentarios*/
.comentarios {
    max-width: 600px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 20px;
}
.fondo{
    background-image: url(../img/fondo\ comentarios.jpg);
    background-size: cover; /* Ajusta la imagen al tamaño del viewport */
    background-repeat: no-repeat; /* Evita la repetición de la imagen */
    background-attachment: fixed;
}

.campo label{
    display: inline;
}
.campo input,
.campo textarea{

margin: 20px;
}
.campo input,
.campo label,
.campo textarea
{
    background-color: rgba(24, 54, 54, 0.788);
    border: none;
    outline: none;
    width: 100%;
    padding: 8px;
    border-radius: 10px;
}

.campo textarea{
    width: 600px;
    height: 200px;
}

 .campo button{
    background-color: rgba(24, 54, 54, 0.788);
    border: none;
    outline: none;
    border-radius: 10px;
    padding: 8px;
    cursor: pointer;
    
 }
 .comentarios-anteriores{ width: 650 px; 
    height: 300px;
    background-color: rgba(24, 54, 54, 0.788); 
    border-radius: 10px; 

 }
 .label-coment{
    background-color: rgba(24, 54, 24, 0.788); 
 }




 /*aqui comienza la seccio nde galeria*/

 .card-img-top:hover {
    transform: scale(1.3); 
    z-index: 1;
}


.card {
    max-width: 600px; /* Establece el ancho máximo del contenedor */
}

.card-img-top {
    max-width: 100%; /* Las imágenes no superarán el ancho del contenedor */
    height: auto; /* Permite mantener la proporción de aspecto de la imagen */
}




 @media screen and (max-width: 600px) {
    .container{
        justify-content: left;
    }
    .containerWrap{
        display: block;
    }
        
   .menu-toggle {
        display: block;
    }

    .navbarr ul {
        display: none;
        flex-direction: column;
        position: absolute;
        left:150px;
        width: 100%;
        background-color: #4e88c7a2;
        border-radius: 10px;
        
    }
    

    #toggle:checked + .menu-toggle + .navbarr ul {
        display: flex;
    }
}

