/*aqui comienza la seccion de opinion y comentarios*/
.comentarios {
    max-width: 600px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 20px;
  }
  
  .fondo {
    background-image: url(../img/fondo\ comentarios.jpg);
    background-size: cover; /* Ajusta la imagen al tamaño del viewport */
    background-repeat: no-repeat; /* Evita la repetición de la imagen */
    background-attachment: fixed;
  }
  
  .campo {
    label {
      display: inline;
    }
  
    input,
    textarea {
      margin: 20px;
    }
  
    input,
    label,
    textarea {
      background-color: rgba(24, 54, 54, 0.788);
      border: none;
      outline: none;
      width: 90%;
      padding: 8px;
      border-radius: 10px;
    }
  
    textarea {
      width: 90%;
      height: 200px;
    }
  
    button {
      background-color: rgba(24, 54, 54, 0.788);
      border: none;
      outline: none;
      border-radius: 10px;
      padding: 8px;
      cursor: pointer;
    }
  }
  
  .comentarios-anteriores {
    width: 100%;
    height: 300px;
    background-color: rgba(24, 54, 54, 0.788);
    border-radius: 10px;
  }
  
  .label-coment {
    background-color: rgba(24, 54, 24, 0.788);
  }
  