@media screen and (max-width: 600px) {
    .container {
      justify-content: left;
    }
  
    .containerWrap {
      display: block;
    }
  
    .menu-toggle {
      display: block;
    }
  
    .navbarr ul {
      display: none;
      flex-direction: column;
      position: absolute;
      left: 150px;
      width: 100%;
      background-color: #4e88c7a2;
      border-radius: 10px;
    }
  
    #toggle:checked + .menu-toggle + .navbarr ul {
      display: flex;
    }
  }
  