$color-primario: #4e88c7a2;
$color-segundo: #ff5733;
 
  /*    estilos del navbar*/
 // Estilos del navbar
.logo:hover {
  animation: hoverAnimation 0.5s forwards; // La animación dura 0.5 segundos y se queda en el estado final (forwards)
}

// Finaliza estilo navbar
.container {
  max-width: 100%;
  overflow: hidden;
  margin: 0 auto;
  padding: 2%;
  display: flex;
  justify-content: space-between;
  background-color: rgba(78, 136, 199, 0.6352941176);
}

.logo img {
  width: 100px;
  height: 100px;
}

.menu-toggle {
  font-size: 30px;
  cursor: pointer;
  display: none;
}

.navbarr ul {
  list-style: none;
  padding: 0;
  display: flex;
}

.navbarr li {
  margin: 0 7px;
}

.navbarr li a {
  text-transform: uppercase;
  text-decoration: none;
  color: #333;
  font-weight: bold;
}

.navbarr li a:hover {
  color: #ff5733;
}

.checkbox-input {
  display: none;
}

/* Define la animación */
@keyframes rotateAndReverse {
  0% { transform: rotate(0deg); }
  50% { transform: rotate(360deg); }
  100% { transform: rotate(0deg); }
}

/* Aplica la animación al hacer hover */
.logo:hover img {
  animation: rotateAndReverse 0.5s linear;
}


/* finzaliza estilo navbar*/